$column: 12;

@mixin grid ($column, $index, $screen) {
  .grid-#{$index}-#{$screen}{
    width: 100% / $column * $index;
  }
}

@for $i from 1 through $column {
  @include grid($column, $i, 'lg');
}

.grid {
  display: flex;
  margin: -20px;
  font-size: 0px;
  &-item {
    font-size: 14px;
    padding: 0 20px;
  }
  &-item-center {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}





